body{
    font-family: 'Montserrat', sans-serif;
    color: #0F001A;
    font-size: 18px;
    padding: 0;
	margin: 0;
    background: rgb(255,255,255);    
}

header{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,239,248,1) 100%);
}

.header-els{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
}

.nav-link{
    color: var(--bs-primary-text-emphasis);
}

.nav-login{
    text-decoration: none;
}

.nav-login:last-child{
    padding-left: 10px;
}

.nav-login:not(:last-child){
    padding-right: 10px;
}

.nav{
    position: relative;
    display: flex;
    border-bottom: 1.5px solid rgb(206 206 206);
    padding: 15px 0;
}

.nav-item:not(:last-child){
    margin-right: 25px;
    justify-content: space-between;
}

.nav-item:last-child{
    margin-left: auto;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-menu {
    margin: 0 35px;
    text-decoration: none;
    color: #0F001A;
}

.item-menu:hover{
    color: var(--bs-link-hover-color);
}

.tel-menu{
    padding-left: 30px;
    background-image: url(../img/phone-call-free-icon-font.svg);
}

.mail-menu{
    padding-left: 30px;
    background-image: url(../img/envelope-free-icon-font.svg);
}

.menu-bg{
    text-decoration: underline;
    margin-right: 24px;
    background-position: 0 center;
    background-repeat: no-repeat;
    display: inline-block;
}

.menu-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-auth{
    margin-top: 50px;
    height: 50vh;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}

.no-auth p{
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.no-auth span{
    font-style: italic;
    font-weight: 500;
    display: block;
    font-size: 20px;
}

.no-auth p:not(:last-child){
    border-right: 1.5px solid rgb(206 206 206);
}

.img-exit{
    padding-left: 20px;
    background-image: url(../img/exit-2.svg);
    background-size: 20px;
    background-position: 0 center;
    background-repeat: no-repeat;
}

/* __________________   student_dashboard css ______________________ */

.current-link{
    color: #6c757d;
}

.title-client{
    font-size: 28px;
    font-weight: 500;
    margin: 35px 0;
}

.instructor-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.instructor-card{
    border: 1.5px solid rgb(206 206 206);
    border-radius: 16px;
    display: flex;
    padding: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #0F001A;
}

.instructor-card:hover{
    background-color: #d1e7dd;
}

.img-instr{
    width: 120px;
    height: 120px;
    margin-right: 50px;
}

.text-card{
    font-weight: 500;
    font-size: 20px;
}

.subtitle-card{
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}

.date-card{
    margin-top: 0;
}

/* __________________   student_pickDataTime css ______________________ */

.flatpickr-calendar.animate.open{
    animation: 0 !important;
}

.title-pick{
    margin-bottom: 10px;
}

#instructor-name{
    font-size: 20px;
    font-style: italic;
}

.date-calendar{
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    /* grid-template-rows: repeat(2,1fr); */
    justify-content: center;
}

.date-calendar input{
    border: 1px solid #bfb8d1;
    border-radius: 4px;
    padding: 10px;
}

/* #id_date.flatpickr {
    /* position: fixed !important; */
    /* visibility: visible !important;
    opacity: 1 !important;
    display: block !important;
    top: 470px !important;
    left: 46vh !important;
  } */

  .flatpickr-calendar {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 1000000 !important; 
    margin-top: 70px !important;
} 

.flatpickr-wrapper{
    display: flex !important;
    justify-content: center;
}

#time-buttons{
    margin-top: 330px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.time-block{
    border: 1px solid #bfb8d1;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.time-block:not(:last-child){
    margin-right: 10px;
}

.time-block.clicked{
    background-color: #bfb8d1c2;
}

/* .btn-note{
    margin-top: 10px;
} */

.date-title{
    text-align: center;
}

.fc-event{
    display: flex;
    flex-direction: column;
}

.fc-event-title{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .fc-event{
    margin-top: 30px;
} */

.fc-event-title span:first-child{
    font-weight: 500;
    color: #21405fc7;
}

.fc-view-harness-active{
    /* max-height: 70vh; */
    margin-bottom: 70px;
}

.fc-event-title {
    white-space: normal;
}

/* __________________   payments css ______________________ */


.frame {
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headline {
  margin: 0;
}

.circle-big {
    position: relative;
    width: 114px;
    height: 114px;
}

.circle-big svg {
    width: 114px;
    height: 114px;
}

.circle-big .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #313035b0;
}

.circle-big .progress {
    fill: none;
    stroke-width: 10px;
    stroke: #21466b;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 327.13;
    stroke-dashoffset: 327.13;
}


.circle-big .text {
  position: absolute;
  width: 100%;
  top: 37px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  line-height: 22px;
}

.circle-big .text .small {
  font-size: 14px;
}

.table-pay{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    justify-items: center;
    font-size: 20px;
}

.pay-now span{
    color: #21466b;
    font-weight: 500;
}

.pay-balance span{
    color: #21466b;
    font-weight: 500;
}

.text-pay{
    font-size: 24px;
    margin-top: 40px;
}

.table-history{
    max-width: 95vh;
    margin: 20px auto;
}

/* __________________   profile css ______________________ */

.toast:not(.showing):not(.show) {
    opacity: 100;
}

.name-profile{
    margin-top: 30px;
    font-size: 24px;
    color: #21466b;
    font-weight: 500;
    margin-bottom: 15px;
}

.title-toasts{
    font-size: 22px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.toast{
    margin: 0 auto;
    width: 450px;
    
}

.me-auto{
    color: #21466b;
}

/* __________________   success_url css ______________________ */

.label-note{
    font-weight: 600;
    color: #21405fc7;
    padding-right: 10px;
}

.note-title{
    text-align: center;
    margin: 40px 0 30px 0;
    font-size: 24px;
}

.note{
    width: 90vh;
    padding: 50px;
    margin: 0 auto;
    box-shadow: 0px 0px 36px -9px rgba(34, 60, 80, 0.24);
    border-radius: 20px;
}

/* __________________   teacher_dashboard css ______________________ */
#deleteEventBtn{
    margin-right: 25px;
}

.fc-event{
    padding: 10px 0;
}

.fc .fc-daygrid-event{
    margin-top: 20px;
}

.fc-daygrid-event-dot{
    display: none;
}

.btn-grp{
    display: flex;
    margin-top: 15px;
}


.input-group-text{
    display: block;
}

/* __________________   teacher_notation css ______________________ */

.title-notation{
    margin-top: 40px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.list-users{
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}

.date-title-teacher{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
}

/* .date-calendar-teacher{
    grid-template-rows: repeat(2,1fr);
} */
