{% extends 'base.html' %}

{% block content%}
    {% load static %}
    {% load humanize %} 
    <div class="container">
        <h2 class="title-client">Расписание</h2>

        <div id='calendar'></div>
    </div>


    
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var user_id = parseInt("{{ user_id }}");
        var appointments_json = '{{ appointments_json|escapejs }}';
        var appointments;

        try {
            appointments = JSON.parse(appointments_json);

        } catch (error) {
            console.error('Ошибка при парсинге JSON:', error);
            appointments = [];
        }
        // console.log(appointments);

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridWeek',
          locale: 'ru',
          firstDay: '1',
          buttonText: {
            today:    'сегодня',
          },
          eventTimeFormat: {
            hour: '2-digit',
            minute: '2-digit',
            hour12: false
          },
          events: appointments.map(function(appointment) {
                var startTime = appointment.date + 'T' + appointment.time;
                // var endTime = addMinutes(startTime, 90);
                return {
                    title: appointment.instructor,
                    start: startTime,
                    // end: endTime,
                };
            }),
        });
        calendar.render();

        applyCustomStyles();

        var btnCalendar = document.querySelectorAll('.fc-button');

        btnCalendar.forEach(btn=>{
            btn.addEventListener('click', event =>{
                applyCustomStyles();
            });
        });

        // var eventTimeElements = document.querySelectorAll('.fc-event-time');
        // eventTimeElements.forEach(function(element) {
        //     var originalTime = element.textContent.trim();
        //     var [hours, minutes] = originalTime.split(':').map(Number);
        //     minutes += 90;

        //     if (minutes >= 60) {
        //         hours += 1;
        //         minutes -= 60;
        //     }

        //     if (minutes = 60) {
        //         hours += 1;
        //         minutes -= 60;
        //     }

        //     var newTime = padNumber(hours) + ':' + padNumber(minutes);
        //     element.textContent = originalTime + '-' + newTime;
        // });

        // var elementsNameInstr = document.querySelectorAll('.fc-event-title');
        // elementsNameInstr.forEach(function(element){
        //     element.textContent = "инструктор " + element.textContent
        // });

        // var eventElementsName = document.querySelectorAll('.fc-event-title');
        // eventElementsName.forEach(function(element){
        //   // var instructorText = "Инструктор";
        //   // element.textContent = instructorText + elementtextContent;
        //   var arr = element.innerHTML.split(/\s+/);
        //   var str = '';

        //   for(var i = 0; i < arr.length; i++)
        //   {
        //     console.log("span");
        //       if(arr[i]){
        //           arr[i] = '<span>'+arr[i]+'</span>';
        //           console.log("span");
        //       }
        //   }
        //   element.innerHTML = arr.join(' ');
        // });
        
      });

      function applyCustomStyles() {
          var elementsNameInstr = document.querySelectorAll('.fc-event-title');
          elementsNameInstr.forEach(function(element){
              element.textContent = "инструктор " + element.textContent
          });
          var eventElements = document.querySelectorAll('.fc-event');
          console.log(eventElements);
          var eventTimeElements = document.querySelectorAll('.fc-event-time');
          console.log(eventTimeElements);
          eventTimeElements.forEach(function(element) {
              var originalTime = element.textContent.trim();
              var [hours, minutes] = originalTime.split(':').map(Number);
              minutes += 90;
              if (minutes === 120) {
                    hours += 2;
                    minutes -= 120;
                }

                if (minutes === 90) {
                    hours += 1;
                    minutes -= 60;
                }
                var newTime = hours + ':' + padNumber(minutes);
                element.textContent = originalTime + '-' + newTime;
          });
      }

        function padNumber(number) {
            return number < 10 ? '0' + number : number;
        }


    </script>

{% endblock %}