{% extends 'base.html' %}

{% block content%}
    {% load static %}
    <div class="container">
        <h2 class="title-client">Выбор инструктора</h2>


        <div class="instructor-cards">
            <a class="instructor-card" href="/users/student_dashboard/{{items.0.id}}/">
                <div class="photo">
                    <img src="{% static 'img/icon-woman.png' %}" class="img-instr" alt="">
                </div>
                <div class="text-card">
                    {{items.0.second_name}} {{items.0.name}} {{items.0.surname}}

                    <div class="subtitle-card">
                        Ближайшие доступные даты:
                    </div>
                    <div class="subtitle-card date-card">
                        
                    </div>
                </div>
            </a>
    
            <a class="instructor-card" href="/users/student_dashboard/{{items.1.id}}/">
                <div class="photo">
                    <img src="{% static 'img/icon-man.png' %}" class="img-instr" alt="">
                </div>
                <div class="text-card">
                     {{items.1.second_name}} {{items.1.name}} {{items.1.surname}}

                    <div class="subtitle-card">
                        Ближайшие доступные даты:
                    </div>
                    <div class="subtitle-card date-card">
                        
                    </div>
                </div>
            </a>
    
    
            <a class="instructor-card" href="/users/student_dashboard/{{items.2.id}}/">
                <div class="photo">
                    <img src="{% static 'img/icon-man.png' %}" class="img-instr" alt="">
                </div>
                <div class="text-card">
                    {{items.2.second_name}} {{items.2.name}} {{items.2.surname}}

                    <div class="subtitle-card">
                        Ближайшие доступные даты:
                    </div>
                    <div class="subtitle-card date-card">
                        
                    </div>
                </div>
            </a>

            <a class="instructor-card" href="/users/student_dashboard/{{items.3.id}}/">
                <div class="photo">
                    <img src="{% static 'img/icon-man.png' %}" class="img-instr" alt="">
                </div>
                <div class="text-card">
                    {{items.3.second_name}} {{items.3.name}} {{items.3.surname}}

                    <div class="subtitle-card">
                        Ближайшие доступные даты:
                    </div>
                    <div class="subtitle-card date-card">
                        
                    </div>
                </div>
            </a>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {

            var appointments = '{{ appointments|escapejs }}';
            var appointments_arr;
            try {
                appointments_arr = JSON.parse(appointments);

            } catch (error) {
                console.error('Ошибка при парсинге JSON:', error);
                appointments_arr = [];
            }
            console.log(appointments_arr);
            console.log(appointments_arr[0].date);

            let dateArrInstructor1 = [];
            let dateArrInstructor2 = [];
            let dateArrInstructor3 = [];
            let dateArrInstructor4 = [];
        
            for(let i=0; i<appointments_arr.length; i++){
                if(appointments_arr[i].instructor === 1){
                    dateArrInstructor1[i] = appointments_arr[i].date;
                }
                if(appointments_arr[i].instructor === 2){
                    dateArrInstructor2[i] = appointments_arr[i].date;
                    // console.log("инстр 2");
                    // console.log(dateArrInstructor2[i]);
                }
                if(appointments_arr[i].instructor === 3){
                    dateArrInstructor3[i] = appointments_arr[i].date;
                }
                if(appointments_arr[i].instructor === 4){
                    dateArrInstructor4[i] = appointments_arr[i].date;
                }
            }
            let deleteDateInstructor1 = [];

            let arrayDateInstructor1 = dateArrInstructor1.reduce((acc,i)=>{
                if(acc.hasOwnProperty(i)){
                    acc[i] += 1;
                }else{
                    acc[i] = 1;
                }
                if(acc[i] === 6){
                    deleteDateInstructor1.push(i)
                }
                return acc;
            },{});

            let deleteDateInstructor2 = [];

            let arrayDateInstructor2 = dateArrInstructor2.reduce((acc,i)=>{
                if(acc.hasOwnProperty(i)){
                    acc[i] += 1;
                }else{
                    acc[i] = 1;
                }
                if(acc[i] === 6){
                    deleteDateInstructor2.push(i)
                }
                return acc;
            },{});
            console.log("deleteDateInstructor2");
            console.log(deleteDateInstructor2);

            let deleteDateInstructor3 = [];

            let arrayDateInstructor3 = dateArrInstructor3.reduce((acc,i)=>{
                if(acc.hasOwnProperty(i)){
                    acc[i] += 1;
                }else{
                    acc[i] = 1;
                }
                if(acc[i] === 6){
                    deleteDateInstructor3.push(i)
                }
                return acc;
            },{});

            let deleteDateInstructor4 = [];

            let arrayDateInstructor4 = dateArrInstructor4.reduce((acc,i)=>{
                if(acc.hasOwnProperty(i)){
                    acc[i] += 1;
                }else{
                    acc[i] = 1;
                }
                if(acc[i] === 6){
                    deleteDateInstructor4.push(i)
                }
                return acc;
            },{});

            let nowDate = new Date();
            let currentDay = nowDate.getDate();
            console.log(currentDay);
            

            let currentDateArr = [];
            for(let i=currentDay; i<currentDay+8; i++){
                currentDateArr[i-currentDay] = i;
            }

            let currentDateArrForInstructor1 = [...currentDateArr];
            let currentDateArrForInstructor2 = [...currentDateArr];
            let currentDateArrForInstructor3 = [...currentDateArr];
            let currentDateArrForInstructor4 = [...currentDateArr];

            let dateCards = document.querySelectorAll('.date-card');

            for(let i=0; i<currentDateArrForInstructor1.length; i++){
                for(let j=0; j<deleteDateInstructor1.length; j++){
                    if(currentDateArrForInstructor1[i] === Number(deleteDateInstructor1[j])){
                        let index = currentDateArrForInstructor1.indexOf(currentDateArrForInstructor1[i]);
                        currentDateArrForInstructor1.splice(index,1);
                    }
                }
            }

            dateCards[0].textContent += currentDateArrForInstructor1.sort() + "...";


            for(let i=0; i<currentDateArrForInstructor2.length; i++){
                for(let j=0; j<deleteDateInstructor2.length; j++){
                    if(currentDateArrForInstructor2[i] === Number(deleteDateInstructor2[j])){
                        let index = currentDateArrForInstructor2.indexOf(currentDateArrForInstructor2[i]);
                        currentDateArrForInstructor2.splice(index,1);
                    }
                }
            }

            dateCards[1].textContent += currentDateArrForInstructor2.sort() + "...";

            for(let i=0; i<currentDateArrForInstructor3.length; i++){
                for(let j=0; j<deleteDateInstructor3.length; j++){
                    if(currentDateArrForInstructor3[i] === Number(deleteDateInstructor3[j])){
                        let index = currentDateArrForInstructor3.indexOf(currentDateArrForInstructor3[i]);
                        currentDateArrForInstructor3.splice(index,1);
                    }
                }
            }

            dateCards[2].textContent += currentDateArrForInstructor3.sort() + "...";

            for(let i=0; i<currentDateArrForInstructor4.length; i++){
                for(let j=0; j<deleteDateInstructor4.length; j++){
                    if(currentDateArrForInstructor4[i] === Number(deleteDateInstructor4[j])){
                        let index = currentDateArrForInstructor4.indexOf(currentDateArrForInstructor4[i]);
                        currentDateArrForInstructor4.splice(index,1);
                    }
                }
            }

            dateCards[3].textContent += currentDateArrForInstructor4.sort() + "...";

            });
    </script>
{% endblock %}