{% extends 'base.html' %}

{% block content%}
    {% load static %}
    <div class="container">
        <div>
            <h4 class="title-client title-pick">Выбранный инструктор</h4>
            <div id="instructor-name"></div>
        </div>

        <form method="post" id="appointment-form">
            {% csrf_token %}
            <div class="date-calendar">
                <div class="date-title">Выберите удобную дату вождения</div>
                {{ form.date }}
                <div id="id_date"></div>
            
                
                <div class="display-none" style="display: none;">
                {{ form.time.label_tag }}
                {{ form.time }}
                </div>
        
                <div id="time-buttons" class="time-buttons-student">
                </div>
                
                <input type="submit" value="Записаться" class="btn btn-primary">
             </div>
    
        </form>
    
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
    </div>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dateInput = document.getElementById("id_date");
            flatpickr("#id_date", {
                minDate: "today",  
                maxDate: new Date().fp_incr(60), 
                disable: [
                    function(date) {
                        return date.getDay() === 0;
                    }
                ],
                position: "below",
                dateFormat: "Y-m-d", 
                locale: {
                    firstDayOfWeek: 1,
                    weekdays: {
                    shorthand: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                    longhand: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],         
                    }, 
                    months: {
                    shorthand: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    longhand: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    },
                },

            });
            if (dateInput) {
                var event = new MouseEvent('click', {
                    bubbles: true,
                    cancelable: true,
                    view: window
                });
                dateInput.dispatchEvent(event);
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            var flatpickrCalendar = document.querySelector('.flatpickr-calendar');
            var flatpickrCalendars = document.querySelectorAll('.flatpickr-calendar');

            if (flatpickrCalendar) {
                flatpickrCalendar.classList.add('open');
                if (flatpickrCalendars.length > 0) {
                    var lastFlatpickrCalendar = flatpickrCalendars[flatpickrCalendars.length - 1];
                    lastFlatpickrCalendar.remove();
                }
            }
        });

        var instructor_name = extractInstructorIdFromURL();
        if(instructor_name == 1){
            document.getElementById("instructor-name").textContent = "Орлова Алла Вячеславовна";
        } else{
            document.getElementById("instructor-name").textContent = "Кузьмичев Сергей Викторович";
        }

        document.getElementById("id_date").addEventListener("change", function () {
            var selectedDate = this.value;
            var timeButtons = document.getElementById("time-buttons");
            timeButtons.innerHTML = ""; 

            var instructorId = extractInstructorIdFromURL();            

            fetch("/users/get_available_times/?date=" + selectedDate + "&instructor_id=" + instructorId)
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(function (time) {
                        var timeBlock = document.createElement("div");
                        timeBlock.className = "time-block";
                        timeBlock.textContent = time;
                        timeBlock.addEventListener("click", function () {

                            document.getElementById("id_time").value = time;
                            console.log(document.getElementById("id_time").value);

                            timeBlocks = document.querySelectorAll('.time-block');

                            timeBlocks.forEach(function (otherTimeBlock) {
                                if (otherTimeBlock !== timeBlock) {
                                    otherTimeBlock.classList.remove('clicked');
                                }
                            });

                            timeBlock.classList.toggle('clicked');
                            console.log("click");
                        });
                        timeButtons.appendChild(timeBlock);
                    });
                });
        });

        function extractInstructorIdFromURL() {
            var path = window.location.pathname;
            var matches = path.match(/\/student_dashboard\/(\d+)\/appointment/);
            if (matches && matches.length > 1) {
                return matches[1];
            }
            return null;
        }

        var btnMenu = document.querySelector(".navbar-toggler");
        btnMenu.addEventListener("click", function(){
            var dateInput = document.getElementById("id_date");
            if (dateInput) {
                setTimeout(function() {
                    var event = new MouseEvent('click', {
                        bubbles: true,
                        cancelable: true,
                        view: window
                    });
                    dateInput.dispatchEvent(event);
                }, 300); 
            }
        })

        

      </script>

{% endblock %}