{% extends 'base.html' %}

{% block content%}
    {% load static %}
    <div class="container">
        <div>
            <h4 class="title-client title-pick">Личный кабинет пользователя</h4>
            <div class="name-profile">{{user.last_name}} {{user.first_name}} {{user.surname}}</div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Адрес электронной почты</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{user.email}}">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Телефон</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticPhone" value="{{ user.phone|default_if_none:'' }}"> 
                </div>
            </div>
             

            
            <div class="title-toasts">Полученные уведомления от инструктора: </div>
            <div class="toasts">
              {% for message in received_messages %}
              <div class="toast" aria-live="assertive" aria-atomic="true">
                  <div class="toast-header">
                      <strong class="me-auto">{{ message.sender.get_full_name }}</strong>
                      <small>{{ message.timestamp|date:"d.m.Y" }}</small>
                      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body">
                      {{ message.body }}
                  </div>
              </div>
              {% endfor %}
            </div>
            
    
        </div>
    
        
    </div>


{% endblock %}