{% extends 'base.html' %}

{% block content%}
    {% load static %}
    <div class="container">
        <div>
            <h4 class="title-client title-pick">Выбранный инструктор</h4>
            <!-- <p>{{item.second_name}} {{item.name}} {{item.surname}}</p> <br> -->
            <div id="instructor-name"></div>

    
        </div>

        <form method="post" id="appointment-form">
            {% csrf_token %}
    
            <!-- {{ form.date.label_tag }} -->
            <!-- <div class="date-calendar">
                <input type="text" name="date" id="id_date" />
            </div> -->
            <div class="date-calendar">
                <div class="date-title">Выберите удобную дату вождения</div>
                {{ form.date }}
                <div id="id_date"></div>
            
                
                <div class="display-none" style="display: none;">
                {{ form.time.label_tag }}
                {{ form.time }}
                </div>
        
                <div id="time-buttons">
                    <!-- Создайте блоки или кнопки для времени здесь -->
                </div>
                
                <input type="submit" value="Записаться" class="btn btn-primary btn-note">
             </div>
    
        </form>
    
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
    </div>

    <!-- Ссылка на CDN Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

      <!-- Ссылка на CDN Flatpickr и дополнительные опции  -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Инициализация Flatpickr с дополнительными опциями
            flatpickr("#id_date", {
                minDate: "today",  // Минимальная дата
                maxDate: new Date().fp_incr(60),  // Максимальная дата (через 2 месяца)
                disable: [
                    function(date) {
                        // Выключите воскресенье (нумерация дней недели начинается с 0)
                        return date.getDay() === 0;
                    }
                ],
                dateFormat: "Y-m-d",  // Формат даты
                // locale: "ru",  // Указываем код языка для русской локализации
                locale: {
                    firstDayOfWeek: 1,
                    weekdays: {
                    shorthand: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                    longhand: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],         
                    }, 
                    months: {
                    shorthand: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    longhand: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    },
                },

            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            // Найдем элемент с классом "flatpickr-calendar"
            var flatpickrCalendar = document.querySelector('.flatpickr-calendar');
            var flatpickrCalendars = document.querySelectorAll('.flatpickr-calendar');

            // Проверим, что элемент существует, прежде чем добавлять класс
            if (flatpickrCalendar) {
                // Добавим класс "open"
                flatpickrCalendar.classList.add('open');
                // flatpickrCalendar.classList.add('animate');
                flatpickrCalendar.classList.add('arrowTop');
                flatpickrCalendar.classList.add('arrowLeft');
                console.log("class");
                flatpickrCalendar.style.top = '450.8px';
                flatpickrCalendar.style.left = '386.05px';
                flatpickrCalendar.style.right = 'auto';
                console.log("style");
                if (flatpickrCalendars.length > 0) {
                    // Получим последний элемент
                    var lastFlatpickrCalendar = flatpickrCalendars[flatpickrCalendars.length - 1];
                    lastFlatpickrCalendar.remove();
                }
            }
        });



        var instructor_name = extractInstructorIdFromURL();
        if(instructor_name == 1){
            document.getElementById("instructor-name").textContent = "Орлова Алла Вячеславовна";
        } else{
            document.getElementById("instructor-name").textContent = "Кузьмичев Сергей Викторович";
        }

        document.getElementById("id_date").addEventListener("change", function () {
            var selectedDate = this.value;
            var timeButtons = document.getElementById("time-buttons");
            timeButtons.innerHTML = ""; // Очистите текущие блоки времени

            // Получение id инструктора из текущего URL
            var instructorId = extractInstructorIdFromURL();            

            // Отправьте AJAX-запрос на сервер, чтобы получить доступное время для выбранной даты и инструктора
            fetch("/users/get_available_times/?date=" + selectedDate + "&instructor_id=" + instructorId)
                .then((response) => response.json())
                .then((data) => {
                    // Создайте блоки для каждого доступного времени
                    data.forEach(function (time) {
                        var timeBlock = document.createElement("div");
                        timeBlock.className = "time-block";
                        timeBlock.textContent = time;
                        timeBlock.addEventListener("click", function () {

                            document.getElementById("id_time").value = time;
                            console.log(document.getElementById("id_time").value);

                            // Создание блоков времени
                            timeBlocks = document.querySelectorAll('.time-block');

                            // Снимаем класс со всех элементов
                            timeBlocks.forEach(function (otherTimeBlock) {
                                if (otherTimeBlock !== timeBlock) {
                                    otherTimeBlock.classList.remove('clicked');
                                }
                            });

                            timeBlock.classList.toggle('clicked');
                            console.log("click");
                        });
                        timeButtons.appendChild(timeBlock);
                    });
                });
        });

    // Функция для извлечения id инструктора из текущего URL
        function extractInstructorIdFromURL() {
            var path = window.location.pathname;
            var matches = path.match(/\/student_dashboard\/(\d+)\/appointment/);
            if (matches && matches.length > 1) {
                return matches[1];
            }
            return null;
        }

      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

{% endblock %}