{% extends 'base.html' %}

{% block content%}
    <div class="container">
        <div class="note-title"> {{user.first_name}} {{user.last_name}}, Вы записаны</div>
        <div class="note">
            <div class="note-item"><span class="label-note">Инструктор:</span> <span class="label-note-name">{{appointments.instructor.second_name}} {{appointments.instructor.name}} {{appointments.instructor.surname}}</span></div>
            <div class="note-item"><span class="label-note">Время вождения:</span> <span class="label-note-time">{{appointments.time}}</span></div>
            <div class="note-item"><span class="label-note">Дата:</span> {{appointments.date}}</div>
        </div>
    </div>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
            applyCustomStyles();
        });

        function applyCustomStyles() {
            var eventTimeElements = document.querySelectorAll('.time');
            console.log(eventTimeElements);
            eventTimeElements.forEach(function(element) {
                var originalTime = element.textContent.trim();
                var [hours, minutes] = originalTime.split(':').map(Number);
                minutes += 90;
                if (minutes === 120) {
                    hours += 2;
                    minutes -= 120;
                }

                if (minutes === 90) {
                    hours += 1;
                    minutes -= 60;
                }
                var newTime = hours + ':' + padNumber(minutes);
                element.textContent = originalTime + '-' + newTime;
            });
        }

        function padNumber(number) {
            return number < 10 ? '0' + number : number;
        }
    </script>
{% endblock %}