{% extends 'base_instructor.html' %}
{% block content%}
{% load static %}
<div class="container">
    <form method="post" id="appointment-form">
        {% csrf_token %}

        <div class="title-notation">Выберите пользователя:</div>
        {% if users %}
            <ul class="list-users">
                {% for user in users %}
                    <li>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="user_radio" id="user_{{ user.id }}" value="{{ user.id }}">
                            <label class="form-check-label" for="user_{{ user.id }}">
                                {{ user.first_name }} {{ user.last_name }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Нет пользователей</p>
        {% endif %}

        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}

        <div class="date-calendar">

            <div class="date-title date-title-teacher">Укажите дату вождения:</div>
            {{ form.date }}
            <div id="id_date"></div>
        
            
            <div class="display-none" style="display: none;">
            {{ form.time.label_tag }}
            {{ form.time }}
            </div>

    
            <div id="time-buttons-teacher">
                
            </div>
            
            <input type="submit" value="Записать" class="btn btn-primary btn-note">
        </div>

    </form>
</div>

<!-- Ссылка на CDN Flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Ссылка на CDN Flatpickr и дополнительные опции  -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>  

<script>
    document.addEventListener('DOMContentLoaded', function() {
        flatpickr("#id_date", {
            minDate: "today",  
            maxDate: new Date().fp_incr(60),  
            disable: [
                function(date) {
                    return date.getDay() === 0;
                }
            ],
            dateFormat: "Y-m-d",  
            locale: {
                firstDayOfWeek: 1,
                weekdays: {
                shorthand: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
                longhand: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'],         
                }, 
                months: {
                shorthand: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                longhand: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                },
            },
            static: true, 
            appendTo: document.getElementById("appointment-form") 

        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var flatpickrCalendar = document.querySelector('.flatpickr-calendar');
        var flatpickrCalendars = document.querySelectorAll('.flatpickr-calendar');

        if (flatpickrCalendar) {
            flatpickrCalendar.classList.add('open');
            flatpickrCalendar.classList.add('arrowTop');
            flatpickrCalendar.classList.add('arrowLeft');
            console.log("class");
            flatpickrCalendar.style.top = '0';
            flatpickrCalendar.style.right = 'auto';
            console.log("style");
            if (flatpickrCalendars.length > 0) {
                var lastFlatpickrCalendar = flatpickrCalendars[flatpickrCalendars.length - 1];
                lastFlatpickrCalendar.remove();
            }
        }
    });


    document.getElementById("id_date").addEventListener("change", function () {
        var selectedDate = this.value;
        var timeButtons = document.getElementById("time-buttons-teacher");
        timeButtons.innerHTML = ""; 

        var instructorId = extractInstructorId();
        console.log(instructorId);            

        fetch("/users/get_available_times/?date=" + selectedDate + "&instructor_id=" + instructorId)
            .then((response) => response.json())
            .then((data) => {
                data.forEach(function (time) {
                    var timeBlock = document.createElement("div");
                    timeBlock.className = "time-block";
                    timeBlock.textContent = time;
                    timeBlock.addEventListener("click", function () {

                        document.getElementById("id_time").value = time;
                        console.log(document.getElementById("id_time").value);

                        timeBlocks = document.querySelectorAll('.time-block');

                        timeBlocks.forEach(function (otherTimeBlock) {
                            if (otherTimeBlock !== timeBlock) {
                                otherTimeBlock.classList.remove('clicked');
                            }
                        });

                        timeBlock.classList.toggle('clicked');
                        console.log("click");
                    });
                    timeButtons.appendChild(timeBlock);
                });
            });
    });


    function extractInstructorId() {
        let idInstructor = '{{ user.id }}'
        console.log(idInstructor);
        console.log(typeof idInstructor);
        if(idInstructor === '9'){
            return 1;
        }
        if(idInstructor === '10'){
            return 2;
        }
        if(idInstructor === '11'){
            return 3;
        }
        if(idInstructor === '12'){
            return 4;
        }
        return null;
    }
</script>
{% endblock %}