{% extends 'base_instructor.html' %}
{% block content%}
{% load static %}
<div class="container">
    <h2 class="title-client">Расписание инструктора</h2>
    
    <div id='calendar'></div>
    <div id="alert_placeholder">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>        
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Отправить сообщение</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="message-form" method="post" action="{% url 'send_message' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Сообщение</label>
                    <input type="text" class="form-control" id="textMessage" placeholder="Введите сообщение тут">
                    <input type="hidden" id="recipient_id" name="recipient_id" value="" style="display: none;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script>

    document.addEventListener('DOMContentLoaded', function() {
    var user_id = parseInt("{{ user_id }}");
    var appointments_json = '{{ appointments_json|escapejs }}';
    var appointments;

    try {
        appointments = JSON.parse(appointments_json);

    } catch (error) {
        console.error('Ошибка при парсинге JSON:', error);
        appointments = [];
    }

    var calendarEl = document.getElementById('calendar');
    var selectedEventId;
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: window.innerWidth <= 991 ? 'timeGridDay' : 'dayGridWeek',
        locale: 'ru',
        firstDay: '1',
        buttonText: {
        today:    'сегодня',
        },
        eventTimeFormat: {
        hour: '2-digit',
        minute: '2-digit',
        hour12: false
        },
        views: {
        timeGridDay: {
            duration: { days: 3 }, 
            buttonText: '3 дня',
            slotMinTime: '08:00:00',
            slotMaxTime: '19:00:00'
        }
        },
        events: appointments.map(function(appointment) {
            var startTime = appointment.date + 'T' + appointment.time;
            return {
                id: appointment.id,
                title: appointment.student,
                start: startTime,
            };
        }),
        
    });

    calendar.render();  

    window.addEventListener('resize', function() {
        if (window.innerWidth <= 991) {
            calendar.changeView('timeGridDay');
        } else {
            calendar.changeView('dayGridWeek');
        }
    });

    applyCustomStyles();
    function applyCustomStyles() {
        var eventElements = document.querySelectorAll('.fc-event');
        var eventTimeElements = document.querySelectorAll('.fc-event-time');
        eventTimeElements.forEach(function(element) {
            var originalTime = element.textContent.trim();
            var [hours, minutes] = originalTime.split(':').map(Number);
            minutes += 90;
            if (minutes >= 60) {
                hours += Math.floor(minutes / 60);
                minutes %= 60;
            }
            var newTime = hours + ':' + padNumber(minutes);
            element.textContent = originalTime + '-' + newTime;
        });

        eventElements.forEach((card, index) => {
            var eventId = appointments[index].id; 


            card.innerHTML += `<div class='btn-grp'> <button id='deleteEventBtn-${eventId}' class='input-group-text deleteEventbtn' data-event-id='${eventId}'><svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-trash3' viewBox='0 0 16 16'><path d='M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z'/></svg></button></div>`;
        });
    }  

    var btnCalendar = document.querySelectorAll('.fc-button');

    btnCalendar.forEach(btn=>{
        btn.addEventListener('click', event =>{
            applyCustomStyles();
        });
    });

    
    var eventDate;

    $('.deleteEventbtn').on('click', function() {
        if (confirm('Вы уверены, что хотите удалить событие?')) {
            var eventDate = $(this).closest('.fc-daygrid-day').attr('data-date');
            var selectedEventId = $(this).data('event-id');
            var time = $(this).closest('.fc-daygrid-event').find('.fc-event-time').text();
            var startTime = time.split('-')[0].trim();
            var eventTime = startTime + ':00'; 

            deleteEvent(selectedEventId, eventDate, eventTime);
        }
    });
    function deleteEvent(selectedEventId, eventDate, eventTime){
        var selectedEvent = calendar.getEventById(selectedEventId);
        if (selectedEvent) {
            $.ajax({
                url: 'delete_event/', 
                type: 'POST',
                data: JSON.stringify({ 
                    event_id: selectedEventId,
                    event_date: eventDate,
                    event_time: eventTime
                }),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function(response) {
                    console.log('Событие успешно удалено!');
                    location.reload();
                },
                error: function(error) {
                    console.error('Ошибка при удалении события:', error);
                }
            });
        } else {
            console.warn('Не удалось найти событие для удаления.');
        }
    }
    });


function padNumber(number) {
    return number < 10 ? '0' + number : number;
}
</script>
{% endblock %}